@import url("theme.css");

.wy-nav-content {
    max-width: none;
}
.wy-table-responsive table td {
    white-space:pre-line;
}
.wy-table-responsive table{
    width: 100%;
}
h1,h2,h3,h4,h5,h6 {
    border-bottom: 1px solid #ccc;
}
table.docutils th.head{
    background-color: #dddddd;
}


   
